<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
Registration
{% endblock title %}

{% block content %}
<section class="form-section row justify-content-center my-5">
  <form
    class="col-4 p-4 border rounded border-success"
    action="{% url 'register_user' %}"
    method="POST"
  >
    {% csrf_token %}
    <h4 class="text-center text-secondary">Create your account</h4>
    <ul class="error_list navbar-nav">
      <!-- prettier-ignore -->
      {% for fields in form %}
      <!-- prettier-ignore -->
      {% if fields.errors %}
      <!-- prettier-ignore -->
      {% for error in fields.errors  %}
      <li class="nav-item my-2 fw-semibold text-danger">{{ error }}</li>
      <!-- prettier-ignore -->
      {% endfor %}
      {% endif %}
      {% endfor %}
    </ul>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      {{ form.email }}
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      {{ form.password }}
    </div>

    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-success btn-lg mt-2">Create</button>
    </div>

    <a href="{% url 'login' %}" class="nav-link text-center mt-3"
      >Already a user? <span class="text-success">Log in</span></a
    >
    <hr />
    <div class="d-grid gap-2">
      <button
        class="btn btn-outline-secondary text-black mt-4 google-btn btn-lg"
        type="button"
      >
        <img
          src="{% static '/img/google-icon.png' %}"
          alt="Google icon"
          class="icon-google"
        />
        Google
      </button>
    </div>
  </form>
</section>
{% endblock content %}
